
body {
    display: grid;

    grid-template-areas:
        "#sidebar #main #main #main #main";

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

    height: 100vh;

    padding: 0;
    margin: 0;
}

#main {
    padding: 2em;
}

#sidebar {
    background-color: #cbe896;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#sidebar ul {
    padding: 0 0 0 0px;
    margin: 0;
}

#sidebar ul li {
    margin-top: 3em;
    font-size: 27px;
    background-color: none;
    border-style: solid;

    

    list-style-type: none;
}

#sidebar ul li:hover {
    background-color: aqua;

}

#sidebar ul a {
    text-decoration: none;
}

#sidebar ul a:visited {
    color: black;
}

#sidebar ul a:hover {
    color: blue;
}

#sidebar ul > :hover {
}

.employee-table, tr, th {
    border: 1px solid black;
    width: 30%;
    border-collapse: collapse;
}


.belovedButton{
    background-color: #079992;
}

.belovedButton:hover{
    background-color: #38ada9;
    cursor:pointer;
}

